*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F1F5F8;
}

.container{
  max-width: 700px;
  margin: 0 auto;
  padding: 5rem 1rem;
}
.heading{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 1rem;
}
.form{
  text-align: center;
}
label{
  font-size: 20px;
  line-height: 30px;
  color: #063251;
  text-transform: capitalize;
  letter-spacing: 4px;
}
input[type="number"]{
  width: 4rem;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  margin: 0 8px;
  font-size: 20px;
}
.btn-generate{
  padding: 6px 12px;
  border-radius: 8px;
  text-transform: uppercase;
  background-color: #49a6e9;
  color: #063251;
  letter-spacing: 1px;
  transition: all 0.3s linear;
  font-size: 0.875rem;
  border: 2px solid #49a6e9;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.text-content{
  background-color: #fff;
  border-radius: 8px;
  padding: 20px 25px;
  margin: 2rem 0;
}
.text{
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 26px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
  margin-bottom: 1rem;
  color: #063251;
  text-align: justify;
}